In [1]:
#declare a variable
#variable are the containers use to store any data types
X=10

In [2]:
# print the variable 
print(X)

10

In [3]:
#check the datatype of the variable
type(X)

int

In [4]:
# create the integer data type
int_1= 20

# show the data type
print('datatype of the varaiable',type (int_1))

datatype of the varaiable <class 'int'>

In [5]:
# create an float datatype
float_1=20.38

# show the datatype
print('datatype of the varaiable',type (float_1))

datatype of the varaiable <class 'float'>

In [6]:
# create an string datatype
string_1='Gopal'


# show the data type
print('datatype of the varaiable',type (string_1))

datatype of the varaiable <class 'str'>

In [7]:
# create an list
list_1=[10,20,30,40,50]
list_2=[10.38,20.46,30.39,40.68]
list_3=['Gopal','Nirmal','Nandhini','pooja']

# show the data type
print('datatype of the varaiable',type (list_1))
print('datatype of the varaiable',type (list_2))
print('datatype of the varaiable',type (list_3))

datatype of the varaiable <class 'list'>
datatype of the varaiable <class 'list'>
datatype of the varaiable <class 'list'>

In [8]:
# create an set
set_1={10,20,30,40,50}
set_2={10.38,20.46,30.39,40.68}
set_3={'Gopal','Nirmal','Nandhini','pooja'}

# show the data type
print('datatype of the varaiable',type (set_1))
print('datatype of the varaiable',type (set_2))
print('datatype of the varaiable',type (set_3))

datatype of the varaiable <class 'set'>
datatype of the varaiable <class 'set'>
datatype of the varaiable <class 'set'>

In [9]:
# create an boolean datatype 
boolean_1=True
boolean_2=False

# show the data type
print('datatype of the varaiable',type (boolean_1))
print('datatype of the varaiable',type (boolean_2))

datatype of the varaiable <class 'bool'>
datatype of the varaiable <class 'bool'>

In [10]:
# create an dictionary
dictionary_1={'list_1':[10,20,30,40],
             'tuple_1':(10,20,30,40),
             'set_1':{10,20,30,40}}

# show the data type
print('datatype of the varaiable',type (dictionary_1))

datatype of the varaiable <class 'dict'>

# basic operations

In [12]:
# task1:type casting
float_2=45.96

# show the data type
print('datatype of the varaiable',type (float_2))

# do the type casting
int_2=int(float_2)

# show the data type
print('datatype of the varaiable',type (int_2))

datatype of the varaiable <class 'float'>
datatype of the varaiable <class 'int'>

In [13]:
# task1:type casting(integerr to float)
int_3=5

# show the data type
print('datatype of the varaiable',type (int_3))

# do the type casting
float_3=float(int_3)

# show the data type
print('datatype of the varaiable',type (float_3))

datatype of the varaiable <class 'int'>
datatype of the varaiable <class 'float'>

In [14]:
# task2:use of round function
float_4=10.1234567890

# round this value  till 3 decimal places 
rounded_value = round(float_4,3)

#show the output 
print('rounded value are :',rounded_value)

rounded value are : 10.123

# Arithmetic operations on data

In [16]:
# addtion operation
# declare the variable 
a=10
b=20

#perform the sum 
sum_1=a+b

#show the output
print('addition of two variable:',sum_1)

addition of two variable: 30

In [17]:
# subraction operation
# declare the variable 
a=10
b=20

#perform the sum
sum_1=a-b

#show the output
print('addition of two variable:',sum_1)

addition of two variable: -10

In [18]:
 # division operation
# declare the variable 
a=10
b=20

#perform the sum
sum_1=a/b

#show the output
print('addition of two variable:',sum_1)

addition of two variable: 0.5

In [19]:
# multiplication operation
# declare the variable 
a=10
b=20

#perform the sum
sum_1=a*b

#show the output
print('addition of two variable:',sum_1)

addition of two variable: 200

# user defined function

In [21]:
# Declare the function named as 'summation',who can perform the addtion in two numbers
def summation():
    x=10
    y=20
    summation=x+y 
    return summation

#call the function
summation()

30

In [22]:
# declare the function named as 'subraction',
#who can perform subract between two varaibles
def subraction(x,y):
    subraction=x-y
    return subraction

#call the function
subraction(10,20)

-10

In [23]:
# declare the function named as 'mutiplication',
# who can perform mutiple between two variables
# this time you need to take the input from the user 

# take the input from the user
var_2=int(input('Give the first number:'))
var_3=int(input('Give the second number:'))

# make the user defined function
def multiplication(var_2,var_3):
    mul=var_2*var_3
    return mul

#call the function 
multiplication(var_2,var_3)

Give the first number: 55
Give the second number: 55

3025